<h1>Create new user!</h1>

<form action="<%= users_url %>" method="POST">
  <%= form_auth %>
  <label for="user_name">Username: </label>
  <input type="text" name="user[name]" id="user_name" value="<%= @user.name %>">
  <br>
  <label for="user_email">Email (optional): </label>
  <input type="text" name="user[email]" id="user_email" value="<%= @user.email %>">
  <br>
  <label for="user_password">Password: </label>
  <input type="password" name="user[password]" id="user_password">


  <br><br>
  <input type="submit" value="Create!">

</form>

